<h1> BACKLOG OF YOUR GAMES</h1>

<%= form_tag(user_games_path, method: :get) do %>
  game <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', title: nil %>
<% end %>


<% @games.each do |game| %>
  <div class="w3-example">

    <% if current_user %>

        <%= link_to game.title, user_game_path(game.title, game) %>

        <%= link_to "Edit", edit_user_game_path(game.title, game) %>


      <% end %>
    </div>
<% end %>

<%= link_to "New Game", new_user_game_path %>
